/* Global */
body{
    margin: 0;
    background-color: #fafafa;
}
ul, li{
    margin: 0;
    padding: 0;
}

h1{
    font-weight: normal;
    border-bottom: 1px solid rgba(0,0,0,.5975);
}
.container{
    padding-top: 60px;
    width: 85%;
    margin: 0 auto;
}

/* header */
.site-header{
    background-color: #fafafa;
    height: 50px;
    padding: 5px;
    /* display: flex; */
    position: fixed;   
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
#header-inner{
    width: 85%;
    margin: 0 auto;
    position:relative;
}
#logo{
    float: left;
    font-size: 25px;
    padding: 10px;
}
#pulldown{
    float: right;
}

header ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header ul li{
    width: 200px;
    line-height: 40px;
    float: left;
    text-align: center;
    cursor: pointer;
    background-color: #fafafa;
}

header ul li ul li{
    display: none;
}

header ul li:hover ul li{
    display:block;
    border: 1px solid rgba(0,0,0,.0975);
}

/* photo */
.article{
    width: 350px;
    padding: 10px;
    z-index: 0;
}
.photoframe{
    width: 350px;
    float: left;
    border: 1px solid rgba(0,0,0,.0975);
    position: relative;
}
.photoframe img{
    width: 100%;
}